# TODO: remember to configure our domain here
code.localhost {
  @root_no_args {
    path   /
    query  ""
  }
  redir @root_no_args /?ew=true

  reverse_proxy xiangshan-bootcamp:8443
}

jupyter.localhost {
  reverse_proxy xiangshan-bootcamp:8888
}
